.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:40px 200px 40px;
    grid-gap: 5px;

}
.header{
    grid-column-start: 1;
    grid-column-end: 3;

}
.menu{

}
.content{

}
.footer{
    grid-column:1/3;

}